
SET_Gelios/.vs/

*.sln

*.vcxproj

*.filters

*.user

*.bin

*.txt

SET_Gelios/SET_Gelios/.vs/

*.mcr

*.avi

*.mp4

*.py

*.plt

*.vsidx

*.db

*.json

SET_ENA/.vs/SET_ENA/v17/.suo

*.sty

SET_Gelios-2/SET_Gelios-2/

SET_ENA/SET_ENA/.vs/SET_ENA.slnx/v18/.suo

*.ipch

*.slnx
